<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">
	
	<import resource="classpath:applicationContext-suggest-index.xml"/>
	
	<bean id="suggestWordIndexFlowImpl" class="com.odianyun.search.whale.index.suggest.SuggestWordIndexFlowImpl" />
    
    <bean id="updateScheduler" class="com.odianyun.search.whale.index.suggest.UpdateScheduler" init-method="start"/> 
    
    <bean id="suggestIndexSwitcher" class="com.odianyun.search.whale.index.suggest.SuggestIndexSwitcher" />
    
    <bean id="historyLogHandler" class="com.odianyun.search.whale.index.history.handler.HistoryLogHandler"></bean>
    
    <bean id="historyLogServive" class="com.odianyun.search.whale.index.history.server.HistoryLogServer" />
    
    <bean id="userHistoryResdis" class="com.odianyun.search.whale.index.history.redis.UserHistoryResdis"></bean>
    
</beans>
